*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */

nav{
    position: fixed;
    top: 0;
    width: 100%;
     background:linear-gradient(135deg,#0f172a,#1e293b);
    padding: 15px 0;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
}

nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: yellow;
}

/* Navbar Scroll Effect */

.scrolled{
    background-color: #555;
}

